* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 104px;
  font-weight: 900;
  line-height: 104px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin-top: 22px;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
	h2 {
    font-size: 48px;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 40px;
	}
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

@media screen and (min-width: 768px) {
	h4 {
    font-size: 24px;
    line-height: 32px;
	}
}