:root {
  --dark: #0A1F38;
  --dark-middle: #1B2F46;
  --dark-light: #2F4056;
  --gray: #9DA5AF;
  --green-dark: #819400;
  --green-middle: #97AB0D;
  --green: #A5BB0C;
  --green-light: #B1C909;
  --white: #ffffff;
  --orange: #FF7461;
}